/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: black;
}

.label-black{-fx-text-fill: black; /* 5 */}

.list-cell:filled:hover {
    -fx-background-color: #f6f6f6;
}

.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:odd { -fx-background-color: white; /* 1 */ }
.list-cell:even { -fx-background-color: white; /* for information */ }